 .car-filters {
  margin: 1vw !important;
}

.car-filters .title {
  font-size: 1.2rem;
  font-weight: bold;
}
.row-dropdowns {
  display: flex;
  margin-bottom: 1vh;
}
.row-dropdowns-bottom {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .row-dropdowns-bottom {
    display: flex;
    flex-direction: column;
  }
}  




